.App {

  text-align: center;
}

.App-logo {
  height: 80px;
    -webkit-animation: swing 1s ease infinite;
    animation: swing 1s ease infinite;

}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.App-header {
  background-color: rgba(128,0,0, 0.8);
  height: 220px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

.optimized-table {
  width: 30% !important;
  margin: 0 auto;
    background-color: rgba(128,0,0, 0.8) !important;


}

.btn-effect {
    box-shadow: inset 0 0 0 0 #800000 !important;
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    transition: all linear 1s;

}

.btn-effect:active{
    box-shadow: inset 100px 0 0 0 #e0e0e0 !important;
}

.percent-result {
    font-size: 2em;
}